/* FONTS */
/* GENERAL */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  background: #333333;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(gray));
  background: linear-gradient(white, gray);
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  width: 70%;
  height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  margin-bottom: 7px;
  padding: 3px 5px;
  font-size: 12px;
  font-weight: 600;
  background: #00b460;
  border: none;
  color: #fff;
  border-radius: 8px;
}

.contact__wrap {
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.img-bottom {
  bottom: -82px;
}

.contact__header {
  text-align: center;
  color: #00b460;
  font-family: 'Orbitron', sans-serif;
}

.contact__title {
  margin-bottom: 20px;
  color: #00b460;
  font-family: 'Orbitron', sans-serif;
}

.contact__list-top {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.contact__new,
.contact__list-wrap {
  padding: 20px;
  height: 540px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  background: #fdfdfd;
  -webkit-box-shadow: 0px 0px 8px 0px #00b460;
          box-shadow: 0px 0px 8px 0px #00b460;
  border-radius: 20px;
}

.contact__form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form input,
.contact__btn {
  padding: 10px;
  margin-bottom: 15px;
  font-family: inherit;
  border-radius: 20px;
  border: 1px solid #aaa;
  outline-color: #00b460;
}

.contact__btn {
  margin-top: 20px;
  width: 50%;
  font-size: 16px;
  font-weight: 600;
  background: none;
  color: #00b460;
  border-color: #00b460;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact__btn:hover {
  color: #fff;
  background: #00b460;
}

/* search =================================== */
.tags {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tag {
  margin-right: 10px;
}

#search {
  margin-bottom: 3px;
  padding: 5px;
  width: 50%;
  font-family: inherit;
  border-radius: 20px;
  border: 1px solid #aaa;
  outline-color: #00b460;
}

/* contact list ============================= */
.contact__list {
  padding-right: 10px;
  height: 450px;
  overflow-y: scroll;
}

.list__item {
  margin-bottom: 15px;
  padding: 10px 20px;
  position: relative;
  color: #00b460;
  border: 1px solid #00b460;
  border-radius: 20px;
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.name {
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: capitalize;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.phone {
  font-size: 14px;
  font-weight: 600;
  color: #00b460;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.relation {
  padding: 3px 5px;
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 12px;
  font-weight: 600;
  background: #00b460;
  color: #fff;
  border-radius: 8px;
}

.display__none {
  display: none;
}

/* icons ===========================*/
.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 5px;
  left: -10px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

i {
  font-size: 28px;
  color: #00b460;
}

.delete__btn {
  position: absolute;
  right: 20px;
  bottom: 5px;
  width: 30px;
  height: 30px;
  background: #00b460;
  border: none;
  outline: none;
  border-radius: 3px;
}

.delete__btn i {
  font-size: 16px;
  color: #fff;
}

/* scroll */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
/*# sourceMappingURL=main.css.map */